<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="~{base :: header}"></div>
    <body>
        <div th:replace="~{base :: navbar}"></div>
    
        <div class="container-fluid">
            <div class="row">
                <div th:replace="~{base :: sidebar}"></div>
    
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Customer Details</h1>
                    </div>
                    <span th:if="${customer == null}">Customer not found.</span>
                    <div class="row" th:if="${customer != null}">
                        <div class="col-md-6">
                            <form class="needs-validation" novalidate>
                                <div class="mb-3">
                                  <label for="customerCode">Customer Code</label>
                                  <input type="text" class="form-control" id="customerCode" placeholder="Customer Code" th:value="${customer.getCustomerCode()}" disabled>
                                </div>
                                
                                <div class="mb-3">
                                  <label for="firstName">First Name</label>
                                  <input type="text" class="form-control" id="firstName" placeholder="First Name" th:value="${customer.getCustomerFirstName()}" required>
                                  <div class="invalid-feedback">
                                    Please enter the customer first name.
                                  </div>
                                </div>
                                
                                <div class="mb-3">
                                  <label for="lastName">Last Name</label>
                                  <input type="text" class="form-control" id="lastName" placeholder="Last Name" th:value="${customer.getCustomerLastName()}" required>
                                  <div class="invalid-feedback">
                                    Please enter the customer last name.
                                  </div>
                                </div>
                                
                                <div class="mb-3">
                                  <label for="shippingAddress">Shipping Address</label>
                                  <input type="text" class="form-control" id="shippingAddress" placeholder="Shipping Address" th:value="${customer.getShippingAddress()}" required>
                                  <div class="invalid-feedback">
                                    Please enter the customer shipping address.
                                  </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div th:replace="~{base :: footer}"></div>
    </body>
</html>