<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="~{base :: header}"></div>
    
    <body>
        <div th:replace="~{base :: navbar}"></div>
    
        <div class="container-fluid">
            <div class="row">
                <div th:replace="~{base :: sidebar}"></div>
    
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Products for Order: <span th:text="${orderNumber}"></span></h1>
                    </div>
                    
                    <div class="container-fluid">
                        <span th:if="${#lists.isEmpty(orderProducts)}">No products found for this order.</span>
                        <table id="my-order-products" class="table table-striped table-sm" th:if="${not #lists.isEmpty(orderProducts)}"> 
                            <thead>
                                <tr>
                                    <th scope="col">Product Code</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Product Price</th>
                                    <th scope="col">Product Quantity</th>
                                    <th scope="col">Product Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="op : ${orderProducts}">
                                    <td><a th:text="${op.getProduct().getProductCode()}" th:href="${'/product/' + op.getProduct().id}">Product Code</a></td>
                                    <td th:text="${op.getProduct().getProductName()}">Product Name</td>
                                    <td th:text="${op.getProduct().getProductPriceCurrency()}">Product Price</td>
                                    <td th:text="${op.getProductQuantity()}">Product Quantity</td>
                                    <td th:text="${op.getProductTotalCurrency()}">Product Total</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
        <div th:replace="~{base :: footer}"></div>
        
        <!-- DataTables Setup -->
        <script>
            $(document).ready(function () {
                var table = 
                $('#my-order-products').DataTable({
                    lengthMenu: [10,20,50,100],
                    pageLength: 20,
                    //responsive: true,
                    stateSave: true,
                });
            });
    	</script>
        
    </body>
</html>


    